.bbtn.approved {
  background: var(--color--brown--3);
}

.bbtn.retry {
  background: var(--color--undesign--red--1);
}

.staking-modal-instruction-and-progress {
  position: relative;
  color: var(--color--brown--text);
  transition: color 240ms ease-in-out;
  will-change: color;
}

.staking-modal-instructions-and-progress.error {
  color: var(--color--undesign--red--1);
}
.staking-modal-instructions-and-progress.error
  .staking-modal-progress-indicator-area::before {
  background: var(--color--undesign--red--1) !important;
}

.staking-modal-instructions-and-progress.succeeded {
  color: var(--color--undesign--green-1);
}
.staking-modal-instructions-and-progress.succeeded
  .staking-modal-progress-indicator-area::before {
  background: var(--color--undesign--green-1) !important;
}

.staking-modal-instructions-and-progress.approved
  .staking-modal-progress-indicator-area::before {
  background: var(--color--brown--text);
  width: 50%;
}

.staking-modal-instructions-and-progress.approved.delegated
  .staking-modal-progress-indicator-area::before {
  background: var(--color--brown--text);
}

.staking-modal-instructions-and-progress.approved.delegated.succeeded
  .staking-modal-progress-indicator-area::before,
.staking-modal-instructions-and-progress.approved.delegated.error
  .staking-modal-progress-indicator-area::before {
  width: 100%;
}

.staking-modal-instructions-and-progress.waiting:not(.approved)
  .staking-modal-progress-indicator-area::before {
  background: var(--color--brown--text);
  animation: fullBarLoading 420ms linear infinite;
}

.staking-modal-instructions-and-progress.approved.waiting
  .staking-modal-progress-indicator-area::after {
  background: var(--color--brown--text);
  animation: fullBarLoading 420ms linear infinite;
}

@keyframes fullBarLoading {
  0% {
    width: 25%;
    transform: translate(-200%);
  }
  100% {
    width: 50%;
    transform: translateX(200%);
  }
}
