.staking-modal-progress-indicator-area {
  position: relative;
  margin-top: 16px;
  width: 182px;
  height: 20px;
  background: var(--color--brown--3--alpha-32);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: url(/dots_mask.svg);
  overflow: hidden;
}

.staking-modal-progress-indicator-area::before,
.staking-modal-progress-indicator-area::after {
  position: absolute;
  content: '';
  display: block;
  width: 0;
  height: 100%;
  background: transparent;
  transition:
    background-color 240ms ease-in-out,
    width 240ms ease-in-out;
  will-change: background-color, width;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 834px) {
  .staking-modal-progress-indicator-area {
    width: 305px;
    height: 34px;
    margin-inline: auto;
  }
}

@media screen and (max-width: 320px) {
}
