dialog.staking-modal .staking-modal-header {
  border-block-end-width: 1px;
  border-block-end-style: solid;
  border-block-end-color: var(--color--brown--3--alpha-24);
  background:
    linear-gradient(
      0deg,
      var(--color--brown--1--alpha-50),
      var(--color--brown--1--alpha-50)
    ),
    var(--color--brown--0);
  display: grid;
  grid-template-columns: 53px 1fr 53px;
  grid-template-rows: 44px;
  --button-base--default--height: 44px;
  grid-template-areas: 'back title close';
  box-sizing: border-box;
  justify-content: space-between;
  gap: 16px;
}
