.staking-modal-completion-area {
  background:
    linear-gradient(
      0deg,
      var(--color--brown--1--alpha-50),
      var(--color--brown--1--alpha-50)
    ),
    var(--color--brown--0);
  padding: 16px;
}

.staking-modal-completion-area .bbtn {
  width: 100%;
  height: 44px;
}
