.validator-selection-split {
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  max-height: 358px;
  max-width: 585px;
  width: 585px;
  min-height: 400px;
  background: var(--color--brown--0);
}

.validator-selection-split > * {
  flex: 1 1;
}

.validator-selection-list {
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 14px;
  line-height: 16px;
}

.validator-selection-list table.validator-list {
  --icon--fill-color: transparent;
  width: 100%;
  table-layout: auto;
  border-spacing: 0;
}

.validator-selection-list table.validator-list tr {
  border-block-end-width: 1px;
  border-block-end-style: solid;
  border-block-end-color: var(--color--brown--3--alpha-24);

  transition:
    background-color 240ms ease-in-out,
    color 240ms ease-in-out;
  will-change: background-color, color, var(--icon--fill-color);
}

.validator-selection-list table.validator-list tr td {
  border-block-end-width: 1px;
  border-block-end-style: solid;
  border-block-end-color: var(--color--brown--3--alpha-24);
}
.validator-selection-list table.validator-list tr:nth-last-child(1) td {
  border-block-end: none;
}

.validator-selection-list table.validator-list td {
  padding-inline: 16px;
  /* padding-block: 12px; */
  cursor: pointer;
  height: 40px;
  box-sizing: border-box;
}

.validator-selection-list tr[data-selected='true'] {
  background: var(--color--brown--4);
  color: var(--color--brown--0);
  --icon--fill-color: var(--color--brown--0);
}

.selection-details {
  border-inline-start-width: 1px;
  border-inline-start-style: solid;
  border-inline-start-color: var(--color--brown--3--alpha-24);
  display: flex;
  flex-direction: column;
}

.node-summary-area {
  padding: 24px;
}

.staking-modal-staking-overview-area .staking-modal-label-value-split {
  flex-direction: column;
}

.staking-modal-staking-overview-area
  .staking-modal-label-value-split
  *:nth-child(2) {
  color: var(--color--undesign--brown-1);
}

.flex {
  flex: 1;
}

.validator-confirm-area {
  display: flex;
  padding: 24px;
  justify-content: flex-end;
  justify-self: flex-end;
}

.validator-selection-split-start .search-node-container {
  /* display: block; */
  width: 100%;
  height: 40px;
  flex: 0 0 40px;
}

.validator-selection-split-start .search-node-container input.search-node {
  border-inline-start: 0;
  border-inline-end: 0;
  border-block-start: 0;
  border-radius: 0;
  height: 40px;
  padding-block-start: 13px;
  padding-block-end: 13px;
  padding-inline-start: 48px;
  padding-inline-end: 16px;
}

.validator-selection-split-start .search-node-container svg.icon {
  top: 8px;
  left: 16px;
}

.validator-selection-split-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 834px) {
  .validator-selection-split {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    max-height: calc(100vh - 200px);
    width: 100%;
    overflow: hidden;
    justify-content: stretch;
    align-items: stretch;
  }

  .validator-selection-split-start {
    overflow: hidden;
  }

  .selection-details {
    border-top: 1px solid var(--color--brown--3--alpha-24);
  }
}

@media screen and (max-width: 320px) {
}
