.rollup-simple {
  display: inline-flex;
  gap: 4px;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.rollup-simple::before {
  content: '';
  display: block;
  width: 24px;
}

.rollup-simple > picture.avatar > img {
  position: absolute;
  top: 0;
  left: 0;
  margin-block: -5px;
}
