:root {
  --divider--color: var(--color--slate-200);
  --divider--padding-vertical: 0;
  --divider--padding-horizontal: 0;
  --divider--margin-vertical: 16px;
  --divider--margin-horizontal: 0;
}

[data-theme='light'] {
  --divider--color: var(--color--slate-200);
}

[data-theme='dark'] {
  --divider--color: var(--color--slate-700);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --divider--color: var(--color--slate-700);
  }
}

.divider {
  border: 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: var(--divider--color);
  padding: var(--divider--padding-vertical) var(--divider--padding-horizontal);
  margin: var(--divider--margin-vertical) var(--divider--margin-horizontal);
}
