.tabled-labeled-value {
  display: grid;
  border-bottom: 1px solid var(--color--slate-100);
}

.tabled-labeled-value:nth-last-child(1) {
  border-bottom: 0;
}

.tabled-labeled-value > label {
  grid-area: label;
}

.tabled-labeled-value > div.value {
  box-sizing: border-box;
  grid-area: value;
}

/* Mobile */
.tabled-labeled-value {
  padding-block: 11px;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: 'label' 'value';
  gap: 8px;
}

/* Medium */
@media screen and (min-width: 768px) {
  .tabled-labeled-value {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-template-rows: auto;
    grid-template-areas: 'label value';
  }
}
