.validator-image img {
  border-style: solid;
  border-color: var(--color--brown--4);
  border-width: 1px;
  box-sizing: border-box;
  overflow: hidden;
}

.validator-image.i24x24 {
  width: 24px;
  height: 24px;
}

.validator-image.i24x24 img {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

.validator-image.i14x14 {
  width: 14px;
  height: 14px;
}

.validator-image.i14x14 img {
  width: 14px;
  height: 14px;
  border-radius: 4px;
}
