form.form--newsletter {
  position: relative;
}

form.form--newsletter input[type='email'] {
  width: 100%;
  border-radius: 100px;
  padding: 14px 44px 14px 14px;
  border: 1px solid var(--color--caramel);
  background: var(--color--transparent);
  font-size: 14px;
  line-height: 24px;
  color: var(--on-color--coffee);
  box-sizing: border-box;

  transition:
    color ease-in-out 240ms,
    border-color ease-in-out 240ms;
  will-change: color, border-color;
}

form.form--newsletter input[type='email']:active {
  border-color: var(--on-color--coffee);
}

form.form--newsletter input[type='email']:focus-visible {
  border-color: var(--on-color--coffee);
  outline: none;
}

form.form--newsletter button.submit {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: var(--on-color--coffee);
  --icon--fill-color: var(--color--coffee);
  border: 0;
}

form.form--newsletter button.submit[disabled] {
  background-color: var(--color--slate-300);
  fill: var(--color--slate-500);
  cursor: inherit;
  pointer-events: none;
}
