.inscription-stats {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  margin: 32px 0;

  font-family: var(--font-family--neue-montreal);
}

:root {
  --chip--background-color: #ffffff22;
  --chip--padding-inline: 16px;
  --chip--padding-block: 8px;
  --chip--border-radius: 1em;
}

.chip {
  background-color: var(--chip--background-color);
  padding: var(--chip--padding-block) var(--chip--padding-inline);
  border-radius: var(--chip--border-radius);
}

/* Mobile */
@media screen and (min-width: 0px) {
  .inscription-stats {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
  }
}

/* Small */
@media screen and (min-width: 640px) {
  .inscription-stats {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}

/* Medium */
@media screen and (min-width: 768px) {
}

/* Large */
@media screen and (min-width: 1024px) {
}

/* Extra Large */
@media screen and (min-width: 1280px) {
  .inscription-stats {
    padding: 0 128px;
    grid-template-columns: repeat(4, auto);
  }
}

/* 2 Extra Large */
@media screen and (min-width: 1536px) {
}
