:root {
  --staking-modal--background-color: var(--color--slate-100);
  --staking-modal--on-background-color: var(--color--slate-950);
}

[data-theme='light'] {
  --staking-modal--background-color: var(--color--slate-100);
  --staking-modal--on-background-color: var(--color--slate-950);
}

[data-theme='dark'] {
  --staking-modal--background-color: var(--color--slate-950);
  --staking-modal--on-background-color: var(--color--slate-100);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --staking-modal--background-color: var(--color--slate-950);
    --staking-modal--on-background-color: var(--color--slate-100);
  }
}

dialog.staking-modal > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

table.validator-information tr th {
  text-align: start;
}

table.validator-information tr td {
  text-align: end;
}

.dialog-content {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: stretch;
  margin-block-end: 16px;
}
.dialog-content > * {
  height: 50vh;
}

.input-container > .btn--max {
  position: absolute;
  right: 6px;
  top: 6px;
}

.delegation-preview {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
}

.flex-spacer {
  flex: 1;
}

dialog.staking-modal {
  border: 0;
  border-radius: 16px;
  margin: auto;
  background-color: var(--staking-modal--background-color);
  color: var(--staking-modal--on-background-color);
  --text--color: var(--staking-modal--on-background-color);
}

dialog.staking-modal::backdrop {
  background-color: #000000b2;
}
