:root {
  --bbutton-flat--default--background-color: transparent;
  --bbutton-flat--default--foreground-color: var(--color--brown--3);

  --bbutton-flat--hovered--background-color: transparent;
  --bbutton-flat--hovered--foreground-color: var(--color--brown--4);
}

.bbtn.btn--flat {
  display: inline-flex;
  padding: var(--button--icon-button--padding);
}

.bbtn.btn--flat {
  --text--color: var(--bbutton-flat--default--foreground-color);
  --icon--fill-color: var(--bbutton-flat--default--foreground-color);

  background-color: var(--bbutton-flat--default--background-color);
  color: var(--bbutton-flat--default--foreground-color);
}

.bbtn.btn--flat:hover {
  --text--color: var(--bbutton-flat--hovered--foreground-color);
  --icon--fill-color: var(--bbutton-flat--hovered--foreground-color);

  color: var(--bbutton-flat--hovered--foreground-color);
}
