# Ignore Everything by default

-

# Add in specific Exceptions

# Allow Docker folder

!docker

# Allow root package files

!package.json
!package-lock.json
!turbo.json

# Explicitly allow espresso-block-explorer-components pieces

!packages/espresso-block-explorer-components/public
!packages/espresso-block-explorer-components/src
!packages/espresso-block-explorer-components/package.json
!packages/espresso-block-explorer-components/tsconfig.json
!packages/espresso-block-explorer-components/tsconfig.*.json
!packages/espresso-block-explorer-components/vite.config.mts
!packages/espresso-block-explorer-components/setupTests.ts
!packages/espresso-block-explorer-components/vitest.global-setup.ts

# Explicitly allow block-explorer pieces

!packages/block-explorer/public
!packages/block-explorer/src
!packages/block-explorer/package.json
!packages/block-explorer/tsconfig.json
!packages/block-explorer/next.config.mjs

# Explicitly allow delegation-ui pieces

!packages/delegation-ui/public
!packages/delegation-ui/src
!packages/delegation-ui/package.json
!packages/delegation-ui/tsconfig.json
!packages/delegation-ui/next.config.mjs
