@import url(../../../../styles/main.css);

:root {
  --histogram-plot--fill-color: var(--color--sky-700);
}

.histogram-plot rect.bbox {
  fill: transparent;
}

.histogram-plot rect.bar {
  fill: var(--histogram-plot--fill-color);
}

.histogram-plot > g {
  position: relative;
}

.histogram-plot g.tooltip {
  opacity: 0;
  transition: opacity 240ms ease-in-out;
  will-change: opacity;
  pointer-events: none;
}

.histogram-plot rect.bbox:hover ~ g.tooltip,
.histogram-plot g.tooltip:hover {
  opacity: 1;
  pointer-events: initial;
}

circle.value-pointer--outer {
  fill: var(--card--background-color);
}

circle.value-pointer--inner {
  fill: var(--color--slate-500);
}

.tooltip--card {
  stroke: var(--card--border-color);
  fill: var(--card--background-color);
}

text.tooltip--value-label {
  fill: var(--color--slate-950);
}
