@import url(../../../../styles/main.css);

:root {
  --histogram-y-guide-lines--fill-color: var(--color--slate-200);
}

.histogram-y-guide-lines {
  stroke: var(--histogram-y-guide-lines--fill-color);
}
