@import url(../../../../styles/main.css);

:root {
  --histogram-plot--fill-color: var(--color--sky-700);
}

.histogram-plot rect.bbox {
  fill: transparent;
}

.histogram-plot rect.bar {
  fill: var(--histogram-plot--fill-color);
}

.histogram-plot rect.missing {
  stroke: var(--histogram-plot--fill-color);
  stroke-dasharray: 4 2 4 2;
  fill: var(--color--transparent);
}

.histogram-plot > g {
  position: relative;
}

.histogram-plot g.tooltip {
  opacity: 0;
  transition: opacity 240ms ease-in-out;
  will-change: opacity;
  pointer-events: none;
}

circle.value-pointer--outer {
  fill: var(--card--background-color);
}

circle.value-pointer--inner {
  fill: var(--color--slate-500);
}

.histogram-plot rect.bbox:hover ~ g.tooltip,
.histogram-plot rect.bbox[data-hover='true'] ~ g.tooltip,
.histogram-plot g.tooltip:hover,
.histogram-plot g.tooltip[data-hover='true'] {
  opacity: 1;
  pointer-events: initial;
}

text.tooltip--value-label {
  fill: var(--color--slate-950);
}
