@import url(../../../styles/main.css);

table.data-table {
  width: 100%;
  border-spacing: 0;
}

table.data-table td,
table.data-table th {
  padding: 16px 4px;
  text-align: start;
  white-space: nowrap;
  /*
  In order to get these tables to "line-up" on the `Explorer` page, we need
  to give these cells a consistent height, and some positioning hacks to
  make inline buttons and images take up the same height as the text they
  are being displayed next to.
  */
  height: 20px;
}

table.data-table table {
  width: 100%;
}

table.data-table thead.type--ui--small th {
  --text--font-weight: 500;
  font-weight: 500;
}

table.data-table th:not(:nth-last-child(1)),
table.data-table td:not(:nth-last-child(1)) {
  border-right: 1px solid var(--color--slate-100);
}

table.data-table th,
table.data-table tr:not(:nth-last-child(1)) td {
  border-bottom: 1px solid var(--color--slate-100);
}

table.data-table th > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

table.data-table th svg.icon--sort {
  opacity: 100%;
  transform: rotateZ(0deg);
  transition:
    opacity ease-in-out 240ms,
    transform ease-in-out 240ms;
  will-change: opacity, transform;
}

table.data-table th[data-sort-column-active='false'] svg.icon--sort {
  opacity: 0;
}

table.data-table th[data-sort-column-dir='1'] svg.icon--sort {
  transform: rotateZ(180deg);
}

table.data-table th > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

table.data-table th[data-alignment='start'] > div {
  justify-content: space-between;
}

table.data-table th[data-alignment='end'] > div {
  justify-content: flex-end;
}

table.data-table th[data-alignment='center'] > div {
  justify-content: center;
}

table.data-table td[data-alignment='start'] {
  text-align: start;
}

table.data-table td[data-alignment='end'] {
  text-align: end;
}

table.data-table td[data-alignment='center'] {
  text-align: center;
}
