a.link.link--social {
  padding: 10px;
}

.social-media-links a.link.link--social {
  --icon--fill-color: var(--on-color--coffee);
}

.social-media-links a.link.link--social:hover {
  --icon--fill-color: var(--color--caramel);
}
