
:root {
  --histogram-plot--fill-color: var(--color--cookie);
  --histogram-plot--data-point--dot-inner-color: var(--color--cookie);
  --histogram-plot--data-point--dot-outer-color: var(--histogram-plot--missing-background-color);
}

