:root {
  --histogram-y-guide-lines--fill-color: var(--color--cookie--alpha-24);
}

[data-theme='light'] {
  --histogram-y-guide-lines--fill-color: var(--color--cookie--alpha-24);
}

[data-theme='dark'] {
  --histogram-y-guide-lines--fill-color: var(--color--cookie--alpha-24);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --histogram-y-guide-lines--fill-color: var(--color--cookie--alpha-24);
  }
}
