:root {
  --loading-shimmer--dim-color: var(--color--transparent);
  --loading-shimmer--highlight-color: var(--color--white);
}

[data-theme='light'] {
  --loading-shimmer--dim-color: var(--color--transparent);
  --loading-shimmer--highlight-color: var(--color--white);
}

[data-theme='dark'] {
  --loading-shimmer--dim-color: var(--color--chocolate);
  --loading-shimmer--highlight-color: var(--color--cookie);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --loading-shimmer--dim-color: var(--color--chocolate);
    --loading-shimmer--highlight-color: var(--color--cookie);
  }
}
