:root {
  --skeleton-content--background-color: var(--color--vanilla);
}

[data-theme='light'] {
  --skeleton-content--background-color: var(--color--vanilla);
}

[data-theme='dark'] {
  --skeleton-content--background-color: var(--color--chocolate);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --skeleton-content--background-color: var(--color--chocolate);
  }
}
