@import url(../../../../styles/main.css);
button.btn--copy {
  appearance: none;
  box-sizing: border-box;
  margin: 0 4px;
  padding: 0;
  background-color: var(--color--transparent);
  border: none;
  cursor: pointer;
}

button.btn--copy > svg {
  width: 18px;
  height: 18px;
}

button.btn--copy.copied {
  --icon--fill-color: var(--color--green-600);
}
