@import url(../../../styles/main.css);

nav.nav--block {
  margin: 8px 0 0;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

nav.nav--block > label {
  color: var(--color--slate-500);
  margin-inline-end: 8px;
}
