.bcard.card-value {
  display: grid;
  grid-template-areas: 'title action' 'value extra';
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-start;
  gap: 16px;
}

.bcard.card-value h2 {
  grid-area: title;
  color: var(--color--brown--3);
  font-weight: 500;
  letter-spacing: 0%;
}

.bcard.card-value .action {
  grid-area: action;
}

.bcard.card-value h2 .accent {
  color: var(--color--brown--4);
}

.bcard.card-value .value {
  grid-area: value;
  color: var(--color--brown--4);
  font-family: PPNeueMontreal;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -2%;
  font-weight: 500;
  font-style: Medium;
  letter-spacing: -2%;
}

.bcard.card-value .extra {
  grid-area: extra;
  color: var(--color--brown--4);
  font-size: 12px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
