.bcard {
  background:
    linear-gradient(
      270deg,
      var(--color--brown--0--alpha-32) 0%,
      var(--color--brown--1--alpha-32) 100%
    ),
    var(--color--brown--0);

  border-width: 1px;
  border-style: solid;
  border-color: var(--color--brown--3--alpha-24);
  border-radius: 8px;
  border-width: 1px;
  padding: 16px;
}
