.claimable-rewards-card {
  --button-base--default--background-color: var(--color--undesign--green-2);
  --button-base--hovered--background-color: var(
    --color--undesign--green-2--alpha-80
  );

  --button-base--default--height: 28px;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 834px) {
  .claimable-rewards-card .bbtn {
    display: none;
  }
}

@media screen and (max-width: 320px) {
}
