.center {
  text-align: center;
}

.delegation-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(13, auto);
  gap: 16px;
  grid-template-areas:
    'lb'
    'lbp'
    'stake'
    'nodes';
}

.delegation-grid.with-wallet {
  grid-template-areas:
    'lb'
    'lbp'
    'stake'
    'nodes';
}

.latest-block {
  grid-area: lb;
}

.latest-block-producers {
  grid-area: lbp;
}

.wallet-stake {
  grid-area: stake;
}

.nodes {
  grid-area: nodes;
}

/* Mobile Layout */
nav.nav--main > ul {
  display: none;
}

nav.nav--main > button.btn.icon {
  display: inline-flex;
}

table.data-table td:nth-last-child(1) {
  padding: 0;
}

/* Small */
@media screen and (min-width: 640px) {
  nav.nav--main > ul {
    display: initial;
  }

  nav.nav--main > button.btn.icon {
    display: none;
  }
}

/* Medium */
@media screen and (min-width: 768px) {
  .delegation-grid {
    gap: 24px;
  }
}

/* Large */
@media screen and (min-width: 1024px) {
  .delegation-grid {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
      'lb lb lb lb lb lb lbp lbp lbp lbp lbp lbp'
      'stake stake stake stake stake stake stake stake stake stake stake stake'
      'nodes nodes nodes nodes nodes nodes nodes nodes nodes nodes nodes nodes';
  }

  .delegation-grid.with-wallet {
    grid-template-areas:
      'lb lb lb lb lb lb lbp lbp lbp lbp lbp lbp'
      'stake stake stake stake stake stake stake stake stake stake stake stake'
      'nodes nodes nodes nodes nodes nodes nodes nodes nodes nodes nodes nodes';
  }
}

/* Extra Large */
@media screen and (min-width: 1280px) {
}

/* 2 Extra Large */
@media screen and (min-width: 1536px) {
}
