.center {
  text-align: center;
}

.explorer-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, auto);
  gap: 16px;
  grid-template-areas:
    'lb'
    'ov'
    'gbt'
    'gbs'
    'gt'
    'lbs'
    'lts'
    'lrs';
}

.latest-block {
  grid-area: lb;
}

.overview {
  grid-area: ov;
}

.latest-blocks-summary {
  grid-area: lbs;
}

.latest-transactions-summary {
  grid-area: lts;
}

.latest-rollups-summary {
  grid-area: lrs;
}

.latest-blocks-summary > .summary-tabled-labeled-value,
.latest-transactions-summary > .summary-tabled-labeled-value,
.latest-rollups-summary > .summary-tabled-labeled-value {
  padding: 1em;
}

.latest-blocks-summary > .summary-tabled-labeled-value > label,
.latest-transactions-summary > .summary-tabled-labeled-value > label,
.latest-rollups-summary > .summary-tabled-labeled-value > label {
  --text--color: var(--color--slate-950);
  color: var(--color--slate-950);
  align-self: center;
}

.block-time-histogram {
  grid-area: gbt;
}

.block-size-histogram {
  grid-area: gbs;
}

.throughput-histogram {
  grid-area: gt;
}

/* Mobile Layout */
nav.nav--main > ul {
  display: none;
}

.block-time-histogram,
.block-size-histogram,
.throughput-histogram {
  padding: 8px 8px 0;
}

div.card.block-time-histogram,
div.card.block-size-histogram,
div.card.throughput-histogram {
  overflow: visible;
}

nav.nav--main > button.btn.icon {
  display: inline-flex;
}

/* Small */
@media screen and (min-width: 640px) {
  nav.nav--main > ul {
    display: initial;
  }

  nav.nav--main > button.btn.icon {
    display: none;
  }
}

/* Medium */
@media screen and (min-width: 768px) {
  .explorer-grid {
    gap: 24px;
  }
}

/* Large */
@media screen and (min-width: 1024px) {
  .explorer-grid {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      'lb lb lb lb lb lb ov ov ov ov ov ov'
      'gbt gbt gbt gbt gbs gbs gbs gbs gt gt gt gt'
      'lbs lbs lbs lbs lbs lbs lts lts lts lts lts lts'
      'lrs lrs lrs lrs lrs lrs lrs lrs lrs lrs lrs lrs';
  }

  .block-time-histogram,
  .block-size-histogram,
  .throughput-histogram {
    padding: 16px 16px 0;
  }
}

/* Extra Large */
@media screen and (min-width: 1280px) {
}

/* 2 Extra Large */
@media screen and (min-width: 1536px) {
}
