@font-face {
  font-family: 'PP Neue Montreal';
  font-weight: 100;
  src: url('/fonts/PPNeueMontreal-Thin.otf') format('opentype');
}

html,
body,
div[data-rk] {
  background-color: #000;
}

html,
body,
div[data-rk],
body > div.storybook-root {
  width: 100vw;
  height: 100vh;
}

.guided-story {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-snap-align: start;
  box-sizing: border-box;
}

.actions {
  display: flex;
  justify-content: space-between;
}

:root {
  /* --font-family--ibm-plex-mono: 'IBM Plex Mono', serif; */
  --font-family--neue-montreal: 'PP Neue Montreal', sans-serif;
}

.inscriptions {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: auto;

  background-color: #605812;
  background-size: cover;
  background-blend-mode: multiply;
  background-position: 50% 50%;
  background-attachment: fixed;

  --text--font-size: 16px;
  --text--font-family: var(--font-family--ibm-plex-mono);
  --text--font-weight: 400;
  --text--font-style: normal;
  --text--line-height: 1.2;

  font-family: var(--text--font-family);
  font-size: var(--text--font-size);
  font-weight: var(--text--font-weight);
  font-style: var(--text--font-style);
  line-height: var(--text--line-height);
}

.inscriptions.transparent {
  scroll-snap-type: none;
}

h1,
h2 {
  --text--font-family: var(--font-family--neue-montreal);
  --text--font-weight: 400;

  font-family: var(--text--font-family);
  font-weight: var(--text--font-weight);
  font-style: var(--text--font-style);
  font-size: var(--text--font-size);
  line-height: var(--text--line-height);
}

:root {
  --guided-story--foreground-color: #fff;
}

.guided-story {
  color: var(--guided-story--foreground-color);
  --icon--fill-color: var(--guided-story--foreground-color);
  --text--color: var(--guided-story--foreground-color);
}

.guided-story.escape-the-walled-garden {
  background-color: #000;
}

.escape-the-walled-garden .guided-story--content {
  background-repeat: no-repeat;
  background-position: 60% 20%;
  background-size: cover;
  flex: 1;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.guided-story h1 {
  --text--font-weight: 400;
  --text--line-height: 1.2;
}

.guided-story.our-data {
  background-color: #000;
  justify-content: flex-start;
}

.guided-story h2 {
  --text--font-weight: 400;
  --text--line-height: 1.2;
}

.guided-story.our-data p {
  --text--font-weight: 400;
  --text--font-size: 16px;
  --text--line-height: 1.2;
  opacity: 60%;
}

.guided-story.there-is-a-better-way {
  background-color: #fcebde;
  --guided-story--foreground-color: #000;
}

.guided-story.infinite-garden .guided-story--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.guided-story.infinite-garden .guided-story--content p {
  align-self: flex-end;
}

.guided-story.inscription-wall {
  min-height: 100vh;
  height: auto;
  display: block;
}

.inscriptions--content {
  will-change: margin;
  transition: margin ease-in-out 100ms;
}

.inscriptions--content h2 {
  font-size: 60px;
  line-height: 1.2;
}

:root {
  --inscriptions-header--color: #fff;
  --inscriptions-header--color-15p: #ffffff26;
  --inscriptions-header--on-color: #000;
}

.inscriptions--header.light {
  --inscriptions-header--color: #000;
  --inscriptions-header--color-15p: #00000026;
  --inscriptions-header--on-color: #fff;
}

.inscriptions--header {
  display: flex;
  justify-content: space-between;
  padding: 8px;

  /* Set the color */
  color: var(--inscriptions-header--color);
  --icon--fill-color: var(--inscriptions-header--color);
  --text--color: var(--inscriptions-header--color);
  will-change: color;
  transition: color ease-in-out var(--inscriptions--transition-duration);

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
}

.inscriptions--header--actions {
  display: flex;
  gap: 24px;
  justify-content: flex-end;
  align-items: center;
}

:root {
  --inscriptions--footer--color: #fff;
}

.inscriptions--footer.light {
  --inscriptions--footer--color: #000;
}

.inscriptions--footer.transparent {
  --inscriptions--footer--color: transparent;
}

.inscriptions--footer {
  opacity: 60%;
  pointer-events: none;
  touch-action: none;

  color: var(--inscriptions--footer--color);
  --icon--fill-color: var(--inscriptions--footer--color);
  --text--color: var(--inscriptions--footer--color);
  --text--font-size: 14px;
  font-size: var(--text--font-size);

  will-change: color;
  transition: color ease-in-out var(--inscriptions--transition-duration);

  position: fixed;
  bottom: 0;
  width: 100vw;

  will-change: color;
}

.scroll-to-continue-section::before {
  content: '';
  display: block;
  height: 92px;
  width: 1px;
  margin-bottom: 16px;

  background-color: var(--inscriptions--footer--color);
  will-change: border-color;
  transition: border-color ease-in-out var(--inscriptions--transition-duration);
}

.engage-steps-thank-you {
  background: #ffffff26;
  padding: 24px;
  border-radius: 12px;
}

.engage-step {
  display: flex;
  padding-block: 27px;
  gap: 16px;
  justify-content: flex-start;

  --text--font-family: var(--font-family--neue-montreal);
  font-family: var(--font-family--neue-montreal);
}

.engage-step--status:not(:nth-last-child(1)) {
  border-bottom: 1px solid #ffffff33;
}

.engage-steps {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.engage-step--status {
  display: flex;
  justify-content: space-between;
}

.engage-step--status[data-completed='true'] > :nth-child(1) {
  opacity: 0.4;
}

.engage-step--status[data-completed='false'] {
  cursor: pointer;
}

.engage-step--status > .done {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

:root {
  --anchor--color: #b9ad3e;
  --anchor--hover-color: #fff;
}

.inscriptions--header a {
  --anchor--color: var(--inscriptions-header--color);
}

a {
  color: var(--anchor--color);
  will-change: color;
  transition: color ease-in-out var(--inscriptions--transition-duration);
}

.inscriptions--header .icon-nav {
  --link-social--color-fill: var(--inscriptions-header--color);
  --link-social--color-hover: var(--inscriptions-header--color);

  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.icon-nav .link--social {
  background-color: var(--inscriptions-header--color-15p);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  box-sizing: border-box;

  will-change: background-color, opacity;
  transition:
    background-color ease-in-out var(--inscriptions--transition-duration),
    opacity ease-in-out var(--inscriptions--transition-duration);
}

.icon-nav .link--social:hover {
  opacity: 40%;
}

.icon-nav .link--social > svg {
  width: 20px;
  height: 20px;
}

a:visited {
  opacity: 0.8;
}

a:not(:hover) {
  text-decoration: none;
}

:root {
  --inscriptions-button--color: #fff;
  --inscriptions-button--on-color: #000;

  --inscriptions--transition-duration: 240ms;
}

.inscriptions--header .btn--connect-wallet,
.inscriptions--header .btn--connected-account {
  --inscriptions-button--color: var(--inscriptions-header--color);
  --inscriptions-button--on-color: var(--inscriptions-header--on-color);
}

.btn--connect-wallet,
.btn--connected-account {
  border: 0;
  appearance: none;
  cursor: pointer;
  height: 40px;
  font-weight: 500;
  line-height: 1;
  background-color: var(--inscriptions-button--color);
  color: var(--inscriptions-button--on-color);
  border-radius: 100px;
  padding: 12px;

  will-change: color, background-color;
  transition:
    color ease-in-out var(--inscriptions--transition-duration),
    background-color ease-in-out var(--inscriptions--transition-duration);
}

/* Mobile */
@media screen and (min-width: 0px) {
  .guided-story::before,
  .guided-story::after {
    content: '';
    flex-basis: 84px;
  }
  .inscriptions--header {
    padding: 24px;
  }

  .guided-story--content {
    padding-inline-start: 44px;
  }

  .guided-story h1 {
    --text--font-size: 40px;
  }

  .guided-story h2 {
    --text--font-size: 32px;
  }

  .our-data h2 br {
    display: none;
  }

  .guided-story.our-data p {
    margin-block-start: 16px;
  }

  .guided-story.infinite-garden .guided-story--content p {
    margin-block-start: 16px;
    padding-inline-start: 0;
    opacity: 80%;
    --text--font-size: 16px;
    --text--line-height: 1.2;
    --text--font-weight: 400;
  }

  .inscriptions--footer {
    padding-block: 24px;
    padding-inline: 68px;
  }

  .guided-story {
    padding: 24px;
  }

  .inscriptions--content {
    margin-block-start: 64px;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  nav.inscription-links {
    display: none;
  }
}

.engage-steps,
.engage-steps-thank-you {
  margin-block: 32px;
}

/* Small */
@media screen and (min-width: 640px) {
}

/* Medium */
@media screen and (min-width: 768px) {
}

/* Large */
@media screen and (min-width: 1024px) {
  .guided-story.escape-the-walled-garden::before {
    flex-basis: 100px;
  }

  .guided-story::before,
  .guided-story::after {
    content: '';
    flex-basis: 100px;
  }

  .inscriptions--content {
    margin-block-start: 120px;
    margin-inline-start: 120px;
    margin-inline-end: 0;
  }

  .guided-story--content {
    padding-inline: 130px;
  }

  .guided-story h1 {
    --text--font-size: 60px;
  }

  .escape-the-walled-garden h1 br {
    display: none;
  }

  .guided-story h2 {
    --text--font-size: 60px;
  }

  .our-data h2 br {
    display: inline;
  }

  .guided-story.our-data p {
    margin-block-start: 32px;
  }

  .guided-story.infinite-garden .guided-story--content p {
    margin-block-start: 24px;
    padding-inline-start: 252px;
  }

  .inscriptions--header {
    padding: 60px;
  }

  .inscriptions--footer {
    padding-block: 60px;
    padding-inline: 181px;
  }

  .guided-story {
    padding: 60px;
  }

  nav.inscription-links {
    display: unset;
  }

  .engage-steps,
  .engage-steps-thank-you {
    margin-block: 40px;
  }
}

/* Extra Large */
@media screen and (min-width: 1280px) {
  .inscriptions--content {
    margin-inline-end: 400px;
  }

  .inscriptions--content > h2,
  .inscriptions--content > p {
    margin-inline-end: -400px;
  }
}

/* 2 Extra Large */
@media screen and (min-width: 1536px) {
}

/* General Dialog Theming */
:root {
  --dialog--background-color: #fff;
  --dialog--on-background-color: #000;
  --dialog--border-radius: 12px;
  --dialog-content--inline-padding: 32px;
  --dialog-content--block-padding: 32px;
  --dialog-content--block-half-padding: 16px;
  --dialog--padding: 0;
  --dialog--border: 0;
  --dialog--max-width: 512px;
  --dialog--margin-inline: 24px;

  --dialog--divider-color: #f1f4f9;
}

dialog {
  background-color: var(--dialog--background-color);
  color: var(--dialog--on-background-color);
  border-radius: var(--dialog--border-radius);
  padding: var(--dialog-padding);
  border: var(--dialog--border);
  max-width: var(--dialog--max-width);
  margin-inline: var(--dialog--margin-inline);
  justify-self: center;
  align-self: center;
}

dialog p {
  margin: 0;
}

dialog hr {
  margin: 0;
  border: 0;
  border-bottom: 1px solid var(--dialog--divider-color);
}

.dialog--heading {
  padding-inline: var(--dialog-content--inline-padding);
  padding-block-start: var(--dialog-content--block-padding);
  padding-block-end: var(--dialog-content--block-half-padding);
  display: flex;
  justify-content: space-between;
}

.dialog--heading h2 {
  font-size: 32px;
}

.dialog--footer {
  padding-inline: var(--dialog-content--inline-padding);
  padding-block-start: var(--dialog-content--block-padding);
  padding-block-end: var(--dialog-content--block-padding);
  display: flex;
  justify-content: stretch;
}

.dialog-inline-padding {
  padding-inline: var(--dialog-content--inline-padding);
}

.dialog-block-start-padding {
  padding-block-start: var(--dialog-content--block-padding);
}

.dialog-block-end-padding {
  padding-block-end: var(--dialog-content--block-padding);
}

.modal-barrier {
  background-color: #00000080;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  will-change: opacity;
  transition: opacity ease-in-out var(--inscriptions--transition-duration);
  opacity: 0;

  pointer-events: none;
  touch-action: none;
}

.modal-barrier[data-display='true'] {
  opacity: 1;
  pointer-events: all;
  touch-action: all;
}

dialog .btn-close {
  display: block;
  appearance: none;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.modal-barrier dialog {
  will-change: transform;
  transition: transform ease-in-out var(--inscriptions--transition-duration);
  transform: translateY(50%);
}

.modal-barrier[data-display='true'] dialog {
  transform: translateY(0);
}

:root {
  --dialog--button--border-radius: 49px;
  --dialog--button--block-padding: 18px;
  --dialog--button--inline--padding: 24px;
  --dialog--button--border: 0;
  --dialog--button--gap: 10px;
}

.btn--dialog {
  border-radius: var(--dialog--button--border-radius);
  padding-inline: var(--dialog--button--inline--padding);
  padding-block: var(--dialog--button--block-padding);
  border: var(--dialog--button--border);
  flex: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--dialog--button--gap);

  background-color: var(--dialog--on-background-color);
  color: var(--dialog--background-color);
  --icon--fill-color: var(--dialog--background-color);
}

.btn--dialog svg {
  width: 20px;
  height: 20px;
}

/* Device Pixel Ratio Background Image Sizes */

/* @1x */
.escape-the-walled-garden .guided-story--content {
  background-image: url(/escape_the_walled_gardens@1x.jpg);
}

.inscriptions {
  background-image: url(/infinite_garden@1x.jpg);
}

/* @2x */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .escape-the-walled-garden .guided-story--content {
    background-image: url(/escape_the_walled_gardens@2x.jpg);
  }

  .inscriptions {
    background-image: url(/infinite_garden@2x.jpg);
  }
}

/* @3x */
@media only screen and (-webkit-min-device-pixel-ratio: 3),
  only screen and (min--moz-device-pixel-ratio: 3),
  only screen and (-o-min-device-pixel-ratio: 3/1),
  only screen and (min-device-pixel-ratio: 3),
  only screen and (min-resolution: 288dpi),
  only screen and (min-resolution: 3dppx) {
  .escape-the-walled-garden .guided-story--content {
    background-image: url(/escape_the_walled_gardens@3x.jpg);
  }

  .inscriptions {
    background-image: url(/infinite_garden@3x.jpg);
  }
}
