.inscriptions {
  background-color: #d9d9d9;
}

.guided-story {
  height: 100vh;
}

.actions {
  display: flex;
  justify-content: space-between;
}

/* .scroll-to-continue-section {
  color: #00000080;
}

.scroll-to-continue-section::before {
  content: '';
  display: block;
  height: 92px;
  width: 1px;
  background-color: #00000080;
  margin-bottom: 16px;
} */

:root {
  --guided-story--foreground-color: #fff;
}

.guided-story.infinite-garden {
  min-height: 100vh;
  height: auto;
  background-color: #605812;
  background-image: url(/infinite_garden.jpeg);
  background-size: cover;
  background-blend-mode: multiply;
  background-position: 50% 50%;
  background-attachment: fixed;

  color: var(--guided-story--foreground-color);
  --icon--fill-color: var(--guided-story--foreground-color);
  --text--color: var(--guided-story--foreground-color);
}

.inscriptions--content h2 {
  font-size: 60px;
  line-height: 1.2;
}

:root {
  --inscriptions-header--color: #fff;
  --inscriptions-header--color-15p: #ffffff26;
  --inscriptions-header--on-color: #000;
}

.inscriptions--header {
  display: flex;
  justify-content: space-between;
  padding: 8px;

  /* Set the color */
  color: var(--inscriptions-header--color);
  --icon--fill-color: var(--inscriptions-header--color);
  --text--color: var(--inscriptions-header--color);
  transition: color ease-in-out var(--inscriptions--transition-duration);

  position: sticky;
  top: 0;
  /* width: 100vw; */
  box-sizing: border-box;
}

.inscriptions--header--actions {
  display: flex;
  gap: 24px;
  justify-content: flex-end;
  align-items: center;
}

.ibm-plex-mono-regular {
  font-family: 'IBM Plex Mono', serif;
  font-weight: 400;
  font-style: normal;
}

.engage-steps-thank-you {
  background: #ffffff26;
  padding: 24px;
  border-radius: 12px;
}

.engage-step {
  display: flex;
  padding-block: 27px;
  gap: 16px;
  justify-content: flex-start;
}

.engage-step--status:not(:nth-last-child(1)) {
  border-bottom: 1px solid #ffffff33;
}

.engage-steps {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.engage-step--status {
  display: flex;
  justify-content: space-between;
}

.engage-step--status[data-completed='true'] > :nth-child(1) {
  opacity: 0.4;
}

.engage-step--status[data-completed='false'] {
  cursor: pointer;
}

.engage-step--status > .done {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

:root {
  --anchor--color: #b9ad3e;
  --anchor--hover-color: #fff;
}

.inscriptions--header a {
  --anchor--color: var(--inscriptions-header--color);
}

a {
  color: var(--anchor--color);
  will-change: color;
  transition: color ease-in-out var(--inscriptions--transition-duration);
}

.inscriptions--header .icon-nav {
  --link-social--color-fill: var(--inscriptions-header--color);
  --link-social--color-hover: var(--inscriptions-header--color);

  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.icon-nav .link--social {
  background-color: var(--inscriptions-header--color-15p);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  box-sizing: border-box;

  will-change: background-color, opacity;
  transition:
    background-color ease-in-out var(--inscriptions--transition-duration),
    opacity ease-in-out var(--inscriptions--transition-duration);
}

.icon-nav .link--social:hover {
  opacity: 40%;
}

.icon-nav .link--social > svg {
  width: 20px;
  height: 20px;
}

a:visited {
  opacity: 0.8;
}

a:not(:hover) {
  text-decoration: none;
}

:root {
  --inscriptions-button--color: #fff;
  --inscriptions-button--on-color: #000;

  --inscriptions--transition-duration: 240ms;
}

.inscriptions--header .btn--connect-wallet,
.inscriptions--header .btn--connected-account {
  --inscriptions-button--color: var(--inscriptions-header--color);
  --inscriptions-button--on-color: var(--inscriptions-header--on-color);
}

.btn--connect-wallet,
.btn--connected-account {
  border: 0;
  appearance: none;
  cursor: pointer;
  height: 40px;
  font-weight: 500;
  line-height: 1;
  background-color: var(--inscriptions-button--color);
  color: var(--inscriptions-button--on-color);
  border-radius: 100px;
  padding: 12px;

  will-change: color, background-color;
  transition:
    color ease-in-out var(--inscriptions--transition-duration),
    background-color ease-in-out var(--inscriptions--transition-duration);
}

/* Mobile */
@media screen and (min-width: 0px) {
  .guided-story {
    padding: 24px;
  }

  .inscriptions--content {
    margin-block-start: 64px;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  nav.inscription-links {
    display: none;
  }
}

.engage-steps,
.engage-steps-thank-you {
  margin-block: 32px;
}

/* Small */
@media screen and (min-width: 640px) {
}

/* Medium */
@media screen and (min-width: 768px) {
}

/* Large */
@media screen and (min-width: 1024px) {
  .inscriptions--content {
    margin-block-start: 120px;
    margin-inline-start: 120px;
    margin-inline-end: 400px;
  }

  .guided-story {
    padding: 60px;
  }

  nav.inscription-links {
    display: unset;
  }

  .engage-steps,
  .engage-steps-thank-you {
    margin-block: 40px;
  }
}

/* Extra Large */
@media screen and (min-width: 1280px) {
}

/* 2 Extra Large */
@media screen and (min-width: 1536px) {
}

/* General Dialog Theming */
:root {
  --dialog--background-color: #fff;
  --dialog--on-background-color: #000;
  --dialog--border-radius: 12px;
  --dialog-content--inline-padding: 32px;
  --dialog-content--block-padding: 32px;
  --dialog-content--block-half-padding: 16px;
  --dialog--padding: 0;
  --dialog--border: 0;
  --dialog--max-width: 512px;
  --dialog--margin-inline: 24px;

  --dialog--divider-color: #f1f4f9;
}

dialog {
  background-color: var(--dialog--background-color);
  color: var(--dialog--on-background-color);
  border-radius: var(--dialog--border-radius);
  padding: var(--dialog-padding);
  border: var(--dialog--border);
  max-width: var(--dialog--max-width);
  margin-inline: var(--dialog--margin-inline);
  justify-self: center;
  align-self: center;
}

dialog p {
  margin: 0;
}

dialog hr {
  margin: 0;
  border: 0;
  border-bottom: 1px solid var(--dialog--divider-color);
}

.dialog--heading {
  padding-inline: var(--dialog-content--inline-padding);
  padding-block-start: var(--dialog-content--block-padding);
  padding-block-end: var(--dialog-content--block-half-padding);
  display: flex;
  justify-content: space-between;
}

.dialog--heading h2 {
  font-size: 32px;
}

.dialog--footer {
  padding-inline: var(--dialog-content--inline-padding);
  padding-block-start: var(--dialog-content--block-padding);
  padding-block-end: var(--dialog-content--block-padding);
  display: flex;
  justify-content: stretch;
}

.dialog-inline-padding {
  padding-inline: var(--dialog-content--inline-padding);
}

.dialog-block-start-padding {
  padding-block-start: var(--dialog-content--block-padding);
}

.dialog-block-end-padding {
  padding-block-end: var(--dialog-content--block-padding);
}

.modal-barrier {
  background-color: #00000080;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  will-change: opacity;
  transition: opacity ease-in-out var(--inscriptions--transition-duration);
  opacity: 0;

  pointer-events: none;
  touch-action: none;
}

.modal-barrier[data-display='true'] {
  opacity: 1;
  pointer-events: all;
  touch-action: all;
}

dialog .btn-close {
  display: block;
  appearance: none;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.modal-barrier dialog {
  will-change: transform;
  transition: transform ease-in-out var(--inscriptions--transition-duration);
  transform: translateY(50%);
}

.modal-barrier[data-display='true'] dialog {
  transform: translateY(0);
}

:root {
  --dialog--button--border-radius: 49px;
  --dialog--button--block-padding: 18px;
  --dialog--button--inline--padding: 24px;
  --dialog--button--border: 0;
  --dialog--button--gap: 10px;
}

.btn--dialog {
  border-radius: var(--dialog--button--border-radius);
  padding-inline: var(--dialog--button--inline--padding);
  padding-block: var(--dialog--button--block-padding);
  border: var(--dialog--button--border);
  flex: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--dialog--button--gap);

  background-color: var(--dialog--on-background-color);
  color: var(--dialog--background-color);
  --icon--fill-color: var(--dialog--background-color);
}

.btn--dialog svg {
  width: 20px;
  height: 20px;
}
