.center {
  text-align: center;
}

.node-validator-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(13, auto);
  gap: 16px;
  grid-template-areas:
    'lb'
    'lbp'
    'gbt'
    'gbs'
    'gt'
    'cdn'
    'nm'
    'pccou'
    'pcnet'
    'pctype'
    'pcos'
    'nodes';
}

.latest-block {
  grid-area: lb;
}

.latest-block-producers {
  grid-area: lbp;
}

.block-time-histogram {
  grid-area: gbt;
}

.block-size-histogram {
  grid-area: gbs;
}

.throughput-histogram {
  grid-area: gt;
}

.network-map {
  grid-area: nm;
  text-align: center;
}

.network-map > svg {
  max-width: 1000px;
}

.cdn {
  grid-area: cdn;
}

.nodes {
  grid-area: nodes;
}

.operating-systems {
  grid-area: pcos;
}

.countries {
  grid-area: pccou;
}

.node-types {
  grid-area: pctype;
}

.network-types {
  grid-area: pcnet;
}

/* Mobile Layout */
nav.nav--main > ul {
  display: none;
}

.block-time-histogram,
.block-size-histogram,
.throughput-histogram {
  padding: 8px 8px 0;
}

nav.nav--main > button.btn.icon {
  display: inline-flex;
}

div.card.block-time-histogram,
div.card.block-size-histogram,
div.card.throughput-histogram {
  overflow: visible;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto;
  align-items: flex-end;
}

/* Small */
@media screen and (min-width: 640px) {
  nav.nav--main > ul {
    display: initial;
  }

  nav.nav--main > button.btn.icon {
    display: none;
  }
}

/* Medium */
@media screen and (min-width: 768px) {
  .node-validator-grid {
    gap: 24px;
  }
}

/* Large */
@media screen and (min-width: 1024px) {
  .node-validator-grid {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
      'lb lb lb lb lb lb lbp lbp lbp lbp lbp lbp'
      'gbt gbt gbt gbt gbs gbs gbs gbs gt gt gt gt'
      'cdn cdn cdn cdn cdn cdn cdn cdn cdn cdn cdn cdn'
      'nm nm nm nm nm nm nm nm nm nm nm nm'
      'pccou pccou pccou pcnet pcnet pcnet pctype pctype pctype pcos pcos pcos'
      'nodes nodes nodes nodes nodes nodes nodes nodes nodes nodes nodes nodes';
  }

  .block-time-histogram,
  .block-size-histogram,
  .throughput-histogram {
    padding: 16px 16px 0;
  }
}

/* Extra Large */
@media screen and (min-width: 1280px) {
}

/* 2 Extra Large */
@media screen and (min-width: 1536px) {
}
