:root {
  --summary-value-labeled--label--color: var(--color--coffee);
}

[data-theme='light'] {
  --summary-value-labeled--label--color: var(--color--coffee);
}

[data-theme='dark'] {
  --summary-value-labeled--label--color: var(--color--caramel);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --summary-value-labeled--label--color: var(--color--caramel);
  }
}

.summary-value-labeled {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-template-areas: 'value' 'label';
  gap: 4px;
}

.summary-value-labeled > .label {
  grid-area: label;
  color: var(--summary-value-labeled--label--color);
  --text--color: var(--summary-value-labeled--label--color);
}

.summary-value-labeled > div.value {
  box-sizing: border-box;
  grid-area: value;
  /* color: var(--color--slate-950); */
  /* --text--color: var(--color--slate-950); */
}
