.current-wallet-display {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 0 8px;
}

.current-wallet-display > img {
  max-width: 24px;
  border-radius: 12px;
}
