header.only-wallet {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  margin-top: -40px;
  box-sizing: content-box;
}

/* Mobile Size */
header.only-wallet {
  padding: 0 16px;
}

/* Large */
@media screen and (min-width: 1024px) {
  header.only-wallet {
    padding: 0 24px;
  }
}
