div.card {
  border: 1px solid var(--color--slate-200);
  border-radius: 8px;
  background-color: var(--color--white);
  overflow-x: auto;
}

/* Mobile Size */
div.card {
  padding: 0 8px;
}

/* Large */
@media screen and (min-width: 1024px) {
  div.card {
    padding: 0 16px;
  }
}
