:root {
  --hover-dialog--background-color: #333;
  --hover-dialog--font-color: #fff;
  --hover-dialog--border-radius: 8px;
}

.hover-dialog {
  position: absolute;
  padding: 8px;
  text-align: start;
  visibility: hidden;

  max-width: calc(100vw - 50px);
  bottom: 2.5em;
  left: 0.75em;

  background-color: var(--hover-dialog--background-color);
  color: var(--hover-dialog--font-color);
  border-radius: var(--hover-dialog--border-radius);
  --text--background-color: var(--hover-dialog--background-color);
  --text--color: var(--hover-dialog--font-color);
}

.hover-dialog::after {
  content: '';
  position: absolute;
  bottom: -0.5em;
  height: 1em;
  width: 1em;
  background-color: var(--hover-dialog--background-color);
  transform: translateX(-50%) rotate(45deg);
}

.hover-dialog p {
  margin: 0;
}

.sm-right .hover-dialog {
  transform: translateX(-80%);
}

.sm-right .hover-dialog::after {
  left: 80%;
}

/* Small */
@media screen and (min-width: 640px) {
  .sm-right .hover-dialog {
    transform: translateX(-50%);
  }

  .sm-right .hover-dialog::after {
    left: 50%;
  }
}

/* Medium */
@media screen and (min-width: 768px) {
}

/* Large */
@media screen and (min-width: 1024px) {
}

/* Extra Large */
@media screen and (min-width: 1280px) {
}

/* 2 Extra Large */
@media screen and (min-width: 1536px) {
}
