@import url(../../../styles/main.css);
@import url(../../layout/card/card.css);

:root {
  --pie-chart--fill-color--01: #de9e67;
  --pie-chart--fill-color--02: #b67237;
  --pie-chart--fill-color--03: #fcebde;
  --pie-chart--fill-color--04: #1eb6f8;
  --pie-chart--fill-color--05: #0c81b4;
  --pie-chart--fill-color--06: #d0e8f4;
  --pie-chart--fill-color--07: #b9ad3e;
  --pie-chart--fill-color--08: #605812;
  --pie-chart--fill-color--09: #f0e89d;
  --pie-chart--fill-color--10: #451f17;
  --pie-chart--fill-color--11: #ff792e;
}

[data-theme='light'] {
  --pie-chart--fill-color--01: #de9e67;
  --pie-chart--fill-color--02: #b67237;
  --pie-chart--fill-color--03: #fcebde;
  --pie-chart--fill-color--04: #1eb6f8;
  --pie-chart--fill-color--05: #0c81b4;
  --pie-chart--fill-color--06: #d0e8f4;
  --pie-chart--fill-color--07: #b9ad3e;
  --pie-chart--fill-color--08: #605812;
  --pie-chart--fill-color--09: #f0e89d;
  --pie-chart--fill-color--10: #451f17;
  --pie-chart--fill-color--11: #ff792e;
}

[data-theme='dark'] {
  --pie-chart--fill-color--01: #8c6847;
  --pie-chart--fill-color--02: #6a4d2e;
  --pie-chart--fill-color--03: #5c4a3a;
  --pie-chart--fill-color--04: #17607a;
  --pie-chart--fill-color--05: #0a425a;
  --pie-chart--fill-color--06: #3a4c56;
  --pie-chart--fill-color--07: #6c672a;
  --pie-chart--fill-color--08: #39351a;
  --pie-chart--fill-color--09: #7a7640;
  --pie-chart--fill-color--10: #2d1510;
  --pie-chart--fill-color--11: #7a3e1a;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --pie-chart--fill-color--01: #8c6847;
    --pie-chart--fill-color--02: #6a4d2e;
    --pie-chart--fill-color--03: #5c4a3a;
    --pie-chart--fill-color--04: #17607a;
    --pie-chart--fill-color--05: #0a425a;
    --pie-chart--fill-color--06: #3a4c56;
    --pie-chart--fill-color--07: #6c672a;
    --pie-chart--fill-color--08: #39351a;
    --pie-chart--fill-color--09: #7a7640;
    --pie-chart--fill-color--10: #2d1510;
    --pie-chart--fill-color--11: #7a3e1a;
  }
}

svg g.pie-chart-sections > *:nth-child(11n + 1) {
  fill: var(--pie-chart--fill-color--01);
}
svg g.pie-chart-sections > *:nth-child(11n + 2) {
  fill: var(--pie-chart--fill-color--02);
}
svg g.pie-chart-sections > *:nth-child(11n + 3) {
  fill: var(--pie-chart--fill-color--03);
}
svg g.pie-chart-sections > *:nth-child(11n + 4) {
  fill: var(--pie-chart--fill-color--04);
}
svg g.pie-chart-sections > *:nth-child(11n + 5) {
  fill: var(--pie-chart--fill-color--05);
}
svg g.pie-chart-sections > *:nth-child(11n + 6) {
  fill: var(--pie-chart--fill-color--06);
}
svg g.pie-chart-sections > *:nth-child(11n + 7) {
  fill: var(--pie-chart--fill-color--07);
}
svg g.pie-chart-sections > *:nth-child(11n + 8) {
  fill: var(--pie-chart--fill-color--08);
}
svg g.pie-chart-sections > *:nth-child(11n + 9) {
  fill: var(--pie-chart--fill-color--09);
}
svg g.pie-chart-sections > *:nth-child(11n + 10) {
  fill: var(--pie-chart--fill-color--10);
}
svg g.pie-chart-sections > *:nth-child(11n + 11) {
  fill: var(--pie-chart--fill-color--11);
}

svg .pie-chart-section-hitbox {
  fill: var(--color--transparent);
  stroke: var(--color--transparent);
}

.pie-chart-tooltip-hitbox g.tooltip {
  opacity: 0;
  transition: opacity 240ms ease-in-out;
  will-change: opacity;
  pointer-events: none;
}

.pie-chart-section-hitbox:hover ~ g.tooltip,
.pie-chart-section-hitbox[data-hover] ~ g.tooltip,
pie-chart-tooltip-hitbox g.tooltip:hover,
pie-chart-tooltip-hitbox g.tooltip[data-hover] {
  opacity: 1;
  pointer-events: initial;
}
