.page-title>label{overflow-x:auto}.hex-dump{background-color:var(--color--slate-100);border:1px solid var(--color--slate-300);border-radius:8px;max-height:303px;overflow-y:auto;padding:16px;margin:0;box-sizing:border-box}
