.summary-value-labeled {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-template-areas: 'value' 'label';
  gap: 4px;
}

.summary-value-labeled > .label {
  grid-area: label;
  color: var(--color--slate-500);
  --text--color: var(--color--slate-500);
}

.summary-value-labeled > div.value {
  box-sizing: border-box;
  grid-area: value;
  /* color: var(--color--slate-950); */
  /* --text--color: var(--color--slate-950); */
}
