nav.nav--main > ul {
  margin: 0;
  padding: 0;
}
nav.nav--main > ul > li {
  list-style-type: none;
  display: inline-block;
}

nav.nav--main > ul > li > a {
  display: inline-block;
  padding: 8px 16px;
  color: var(--color--slate-950);
}

/* Mobile Layout */
nav.nav--main > ul {
  display: none;
}

nav.nav--main > button.btn.icon {
  display: inline-flex;
}

/* Small */
@media screen and (min-width: 640px) {
  nav.nav--main > ul {
    display: initial;
  }

  nav.nav--main > button.btn.icon {
    display: none;
  }
}

/* Medium */
@media screen and (min-width: 768px) {
}

/* Large */
@media screen and (min-width: 1024px) {
}

/* Extra Large */
@media screen and (min-width: 1280px) {
}

/* 2 Extra Large */
@media screen and (min-width: 1536px) {
}
