:root {
  --validator-node-table--border-color: var(--color--brown--3--alpha-24);
  --validator-node-table--gradient-color-start: var(
    --color--brown--1--alpha-60
  );
  --validator-node-table--gradient-color-middle: var(
    --color--brown--0--alpha-60
  );
  --validator-node-table--gradient-color-end: var(--color--brown--1--alpha-60);
  --validator-node-table--background--gradient-color-start: var(
    --color--brown--0
  );
  --validator-node-table--background--gradient-color-end: var(
    --color--brown--0
  );
  --validator-node-table--header--background-color: var(
    --color--brown--3--alpha-12
  );
  --validator-node-table--header--foreground-color: var(--color--brown--text);
  --validator-node-table--cell--background-color: var(
    --color--brown--0--alpha-015
  );
  --validator-node-table--button--background-color: var(--color--brown--4);
  --validator-node-table--button--foreground-color: var(--color--brown--0);
  --validator-node-table--cell--foreground-color: var(--color--brown--4);
}

table.all-validators-table {
  border-radius: 8px;
  border-width: 1px;
  font-size: 12px;
  width: 100%;

  border: 1px solid var(--validator-node-table--border-color);
  background:
    linear-gradient(
      270deg,
      var(--validator-node-table--gradient-color-start) 0%,
      var(--validator-node-table--gradient-color-middle) 50%,
      var(--validator-node-table--gradient-color-end) 100%
    ),
    linear-gradient(
      0deg,
      var(--validator-node-table--background--gradient-color-start),
      var(--validator-node-table--background--gradient-color-end)
    );
}

table.all-validators-table th:nth-child(1) {
  border-radius: 8px 0 0 0;
}

table.all-validators-table th:nth-last-child(1) {
  border-radius: 0 8px 0 0;
}

table.all-validators-table tr:nth-last-child(1) td:nth-child(1) {
  border-radius: 0 0 0 8px;
}

table.all-validators-table tr:nth-last-child(1) td:nth-last-child(1) {
  border-radius: 0 0 8px 0;
}

table.all-validators-table {
  border-spacing: 0;
}

table.all-validators-table th svg.icon:nth-child(1) {
  vertical-align: text-top;
  padding-inline: 2px;
  width: 12px;
  height: 12px;
}

table.all-validators-table th[data-sort-column] svg.icon:nth-child(1) {
  display: none;
}

table.all-validators-table th:not([data-sort-column]) svg.icon:nth-child(2) {
  display: none;
}

table.all-validators-table th svg.icon:nth-child(2) {
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  transition: transform 240ms ease-in-out;
  will-change: transform;
}

table.all-validators-table th[data-sort-column='1'] svg.icon:nth-child(2) {
  transform: rotate(180deg);
}

table.all-validators-table th {
  height: 32px;
  line-height: 16px;
  padding: 0 16px;
}

table.all-validators-table th.sortable {
  cursor: pointer;
}

table.all-validators-table thead tr {
  background: var(--validator-node-table--header--background-color);
}

table.all-validators-table thead tr th,
table.all-validators-table tbody tr:not(:nth-last-child(1)) td {
  border-bottom: 1px solid var(--validator-node-table--border-color);
}

table.all-validators-table thead {
  color: var(--validator-node-table--header--foreground-color);
  --icon--fill-color: var(--validator-node-table--header--foreground-color);
  font-size: 11px;
  text-transform: uppercase;
}

table.all-validators-table tbody {
  color: var(--validator-node-table--cell--foreground-color);
}
table.all-validators-table tbody tr td {
  background: var(--validator-node-table--cell--background-color);
}

table.all-validators-table tbody tr td:not(.no-data):nth-child(1) {
  display: none;
}

table.all-validators-table tbody tr:not(:nth-last-child(1)) td {
  border-bottom: 1px solid var(--validator-node-table--border-color);
}

table.all-validators-table th,
table.all-validators-table td {
  /* padding: 12px 16px; */
  text-align: start;
  box-sizing: border-box;
  white-space: nowrap;
}
table.all-validators-table td {
  height: 40px;
  padding: 0 16px;
}

table.all-validators-table td .percentage-text {
  opacity: 50%;
}

table.all-validators-table td.no-data {
  text-transform: uppercase;
  text-align: center;
  padding-block-start: 150px;
  padding-block-end: 150px;
}

table.all-validators-table {
  --button-base--default--background-color: var(--color--brown--2);
  --button-base--default--foreground-color: var(--color--brown--0);
  /* --button-base--default--outline-color: var(--color--transparent); */
  --button-base--hovered--background-color: var(--color--brown--1);
  --button-base--hovered--foreground-color: var(--color--brown--4);
  --button-base--default--border-color: var(--color--brown--3);
  --button-base--pressed--background-color: var(--color--slate-200);
  --button-base--default--padding-inline: 10px;
  --button-base--default--padding-block: 8px;
  --button-base--default--height: 24px;
  --button-base--default--font-family: IBM Plex Mono, monospace;
  --button-base--default--border-width: 1px;
  --button-base--default--border-style: solid;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 834px) {
  table.all-validators-table {
    margin: 0 16px;
    background: none;
    border: none;
    border-radius: none;
    display: block;
    width: unset;
  }

  table.all-validators-table thead {
    display: none;
  }

  table.all-validators-table tbody {
    display: grid;
    gap: 8px;
  }

  table.all-validators-table tbody tr:not(:nth-last-child(1)) td {
    border: none;
  }

  table.all-validators-table tbody tr td:not(:nth-last-child(-n + 2)) {
    border-bottom: 1px solid var(--validator-node-table--border-color);
  }

  table.all-validators-table tbody tr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 76px auto auto 72px;
    border: 1px solid var(--validator-node-table--border-color);
    background: var(--color--brown--0);
    border-radius: 8px;
    overflow: hidden;
    justify-content: stretch;
    align-items: stretch;
  }

  table.all-validators-table th:nth-child(1) {
    border-radius: 0;
  }

  table.all-validators-table th:nth-last-child(1) {
    border-radius: 0;
  }

  table.all-validators-table tr:nth-last-child(1) td:nth-child(1) {
    border-radius: 0;
  }

  table.all-validators-table tr:nth-last-child(1) td:nth-last-child(1) {
    border-radius: 0;
  }

  table.all-validators-table tbody tr td {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 24px;
    height: unset;
    justify-content: center;
  }

  table.all-validators-table tbody tr td::before {
    color: var(--validator-node-table--header--foreground-color);
    text-transform: uppercase;
  }

  table.all-validators-table tbody tr td:nth-child(1) {
    display: unset;
    border-block-end: 1px solid var(--validator-node-table--border-color);
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 8px 8px 0 0;
  }

  table.all-validators-table tbody tr td:not(.no-data):nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    font-size: 18px;
  }

  table.all-validators-table tbody tr td.no-data:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  table.all-validators-table tbody tr td:not(.no-data):nth-child(1)::after {
    content: '';
    order: 4;
    flex: 1;
  }

  table.all-validators-table
    tbody
    tr
    td:not(.not-data):nth-child(1)
    > .consensus-chip {
    order: 5;
  }

  table.all-validators-table tbody tr td:nth-child(2) {
    display: none;
  }

  table.all-validators-table tbody tr td:nth-child(3) {
    display: none;
  }

  table.all-validators-table tbody tr td:nth-child(8) {
    display: none;
  }

  table.all-validators-table tbody tr td:nth-child(4)::before {
    content: 'Total Stake';
  }

  table.all-validators-table tbody tr td:nth-child(4) {
    order: 4;
  }

  table.all-validators-table tbody tr td:nth-child(5)::before {
    content: 'Commission';
  }

  table.all-validators-table tbody tr td:nth-child(5) {
    order: 5;
    border-inline-start: 1px solid var(--validator-node-table--border-color);
  }

  table.all-validators-table tbody tr td:nth-child(6)::before {
    content: 'Missed Slots';
  }
  table.all-validators-table tbody tr td:nth-child(6) {
    order: 6;
  }

  table.all-validators-table tbody tr td:nth-child(7)::before {
    content: 'Participation';
  }
  table.all-validators-table tbody tr td:nth-child(7) {
    order: 7;
    border-inline-start: 1px solid var(--validator-node-table--border-color);
  }

  table.all-validators-table tbody tr td:nth-child(9)::before {
    content: 'Claim In';
  }
  table.all-validators-table tbody tr td:nth-child(9) {
    order: 8;
    padding-block: 16px;
    border-radius: 0 0 0 8px;
  }

  table.all-validators-table tbody tr td:nth-child(10) {
    order: 9;
    padding-block: 16px;
    border-radius: 0 0 8px 0;
  }

  table.all-validators-table tbody tr td:nth-child(10) .bbtn {
    height: 100%;
  }
}

@media screen and (max-width: 320px) {
}
