:root {
  --validator-node-table--border-color: var(--color--brown--3--alpha-24);
  --validator-node-table--gradient-color-start: var(
    --color--brown--1--alpha-60
  );
  --validator-node-table--gradient-color-middle: var(
    --color--brown--0--alpha-60
  );
  --validator-node-table--gradient-color-end: var(--color--brown--1--alpha-60);
  --validator-node-table--background--gradient-color-start: var(
    --color--brown--0
  );
  --validator-node-table--background--gradient-color-end: var(
    --color--brown--0
  );
  --validator-node-table--header--background-color: var(
    --color--brown--3--alpha-12
  );
  --validator-node-table--header--foreground-color: var(--color--brown--text);
  --validator-node-table--cell--background-color: var(
    --color--brown--0--alpha-015
  );
  --validator-node-table--button--background-color: var(--color--brown--4);
  --validator-node-table--button--foreground-color: var(--color--brown--0);
  --validator-node-table--cell--foreground-color: var(--color--brown--4);
}

table.all-validators-table,
div.all-validators-grid {
  border-radius: 8px;
  border-width: 1px;
  font-size: 12px;
  width: 100%;

  border: 1px solid var(--validator-node-table--border-color);
  background:
    linear-gradient(
      270deg,
      var(--validator-node-table--gradient-color-start) 0%,
      var(--validator-node-table--gradient-color-middle) 50%,
      var(--validator-node-table--gradient-color-end) 100%
    ),
    linear-gradient(
      0deg,
      var(--validator-node-table--background--gradient-color-start),
      var(--validator-node-table--background--gradient-color-end)
    );
}

table.all-validators-table th:nth-child(1),
div.all-validators-grid div:nth-child(1) {
  border-radius: 8px 0 0 0;
}

table.all-validators-table th:nth-last-child(1),
div.all-validators-grid div:nth-child(7) {
  border-radius: 0 8px 0 0;
}

table.all-validators-table tr:nth-last-child(1) td:nth-child(1),
div.all-validators-grid div:nth-last-child(7) {
  border-radius: 0 0 0 8px;
}

table.all-validators-table tr:nth-last-child(1) td:nth-last-child(1),
div.all-validators-grid div:nth-last-child(1) {
  border-radius: 0 0 8px 0;
}

table.all-validators-table {
  border-spacing: 0;
}

table.all-validators-table th svg.icon {
  vertical-align: middle;
  width: 12px;
  height: 12px;
}

table.all-validators-table th {
  height: 32px;
  line-height: 16px;
  padding: 0 16px;
}

table.all-validators-table th.sortable {
  cursor: pointer;
}

table.all-validators-table thead tr {
  background: var(--validator-node-table--header--background-color);
}

table.all-validators-table thead tr th,
table.all-validators-table tbody tr:not(:nth-last-child(1)) td {
  border-bottom: 1px solid var(--validator-node-table--border-color);
}

table.all-validators-table thead {
  color: var(--validator-node-table--header--foreground-color);
  --icon--fill-color: var(--validator-node-table--header--foreground-color);
  font-size: 11px;
  text-transform: uppercase;
}

table.all-validators-table tbody {
  color: var(--validator-node-table--cell--foreground-color);
}
table.all-validators-table tbody tr td {
  background: var(--validator-node-table--cell--background-color);
}

table.all-validators-table tbody tr:not(:nth-last-child(1)) td {
  border-bottom: 1px solid var(--validator-node-table--border-color);
}

table.all-validators-table th,
table.all-validators-table td {
  /* padding: 12px 16px; */
  text-align: start;
  box-sizing: border-box;
  white-space: nowrap;
}
table.all-validators-table td {
  height: 40px;
  padding: 0 16px;
}

table.all-validators-table td .percentage-text {
  opacity: 50%;
}

table.all-validators-table td.no-data {
  text-transform: uppercase;
  text-align: center;
  padding-block-start: 150px;
  padding-block-end: 150px;
}

table.all-validators-table button.bbtn.action {
  --button-base--default--background-color: var(--color--brown--2);
  --button-base--default--foreground-color: var(--color--brown--0);
  /* --button-base--default--outline-color: var(--color--transparent); */
  --button-base--hovered--background-color: var(--color--brown--1);
  --button-base--hovered--foreground-color: var(--color--brown--4);
  --button-base--default--border-color: var(--color--brown--3);
  --button-base--pressed--background-color: var(--color--slate-200);
  --button-base--default--padding-inline: 10px;
  --button-base--default--padding-block: 8px;
  --button-base--default--height: 24px;
  --button-base--default--font-family: IBM Plex Mono, monospace;
  --button-base--default--border-width: 1px;
  --button-base--default--border-style: solid;
}

table.all-validators-table.undelegation {
  --validator-node-table--border-color: #0000003d;
  --validator-node-table--gradient-color-start: transparent;
  --validator-node-table--gradient-color-middle: transparent;
  --validator-node-table--gradient-color-end: transparent;
  --validator-node-table--background--gradient-color-start: transparent;
  --validator-node-table--background--gradient-color-end: transparent;
  --validator-node-table--header--background-color: #ffffff99;
  --validator-node-table--cell--background-color: #ffffff;
  --validator-node-table--cell--foreground-color: #000000e0;
  --validator-node-table--header--foreground-color: #000000b8;
  /* --validator-node-table--button--background-color: var(--color--brown--4);
  --validator-node-table--button--foreground-color: var(--color--brown--0); */
}

table.all-validators-table.undelegation button.bbtn.action {
  --button-base--default--background-color: #00000066;
  --button-base--default--foreground-color: #ffffff;
  --button-base--default--border-color: 00000066;
  /* --button-base--default--outline-color: var(--color--transparent);
  --button-base--hovered--background-color: var(--color--brown--1);
  --button-base--hovered--foreground-color: var(--color--brown--4);
  --button-base--default--border-color: var(--color--brown--3);
  --button-base--pressed--background-color: var(--color--slate-200); */
}
