:root {
  --collapsable-section--padding-block: 12px;
  --collapsable-section--padding-inline: 12px;
  --collapsable-section--background-color: var(--color--brown--0);
  --collapsable-section--foreground-color: inherit;
  --collapsable-section--border-width: 1px;
  --collapsable-section--border-style: solid;
  --collapsable-section--border-color: transparent;
  --collapsable-section--border-radius: 8px;
}

.collapsable-section {
  padding-inline: var(--collapsable-section--padding-inline);
  padding-block: var(--collapsable-section--padding-block);
  background: var(--collapsable-section--background-color);
  color: var(--collapsable-section--foreground-color);
  --icon--fill-color: var(--collapsable-section--foreground-color);

  border-width: var(--collapsable-section--border-width);
  border-style: var(--collapsable-section--border-style);
  border-color: var(--collapsable-section--border-color);
  border-radius: var(--collapsable-section--border-radius);
  margin-block-start: 8px;
  margin-block-end: 8px;
}

.collapsable-section > :not(.collapsable-header) {
  margin-block-start: 8px;
}

.collapsable-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  --button-base--default--height: 28px;
  --button-base--default--background-color: var(--color--brown--0);
  --button-base--default--foreground-color: var(
    --collapsable-section--foreground-color
  );
  --button-base--hovered--background-color: var(--color--brown--0--alpha-53);
  --button-base--hovered--foreground-color: var(
    --collapsable-section--foreground-color
  );
}

.collapsable-header h2 {
  font-family: PPNeueMontrealRegular, sans-serif;
  text-transform: none;
  font-size: 14px;
  line-height: 16px;
  color: inherit;
  flex: 1 1 auto;
}

.collapsable-header > svg {
  width: 16px;
  height: 16px;
  vertical-align: bottom;
  flex: 0 0 16px;
}

.collapsable-header::after {
  content: '';
  order: 0;
  flex: 1;
}

.collapsable-header .bbtn-collapse-toggle {
  order: 4;
}

.collapsable-header .bbtn-collapse-toggle svg {
  display: none;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 834px) {
  .collapsable-header .bbtn-collapse-toggle svg {
    display: unset;
    transform: rotateZ(0);
    transition: transform 240ms ease-in-out;
    will-change: transform;
  }

  [open] .collapsable-header .bbtn-collapse-toggle svg {
    transform: rotateZ(180deg);
  }

  .collapsable-header .bbtn-collapse-toggle > :nth-child(1) {
    display: none;
  }

  .collapsable-header .bbtn-collapse-toggle {
    padding: 0 2px;
    width: 28px;
    height: 28px;
  }
}

@media screen and (max-width: 320px) {
}
