:root {
  --delegation-header--text--color: var(--color--brown--5);
}

header.delegation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  box-sizing: content-box;
  margin-inline: 32px;
  margin-block: 40px;

  color: var(--delegation-header--text--color);
  --icon--fill-color: var(--delegation-header--text--color);
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 834px) {
  header.delegation {
    margin-inline: 20px;
    margin-block: 20px;
  }
}

@media screen and (max-width: 320px) {
}
