:root {
  --delegation-header--text--color: var(--color--brown--5);
}

header.delegation {
  display: grid;
  justify-content: space-between;
  align-items: center;

  grid-template-areas: 'logo wrong wallet';
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  row-gap: 16px;

  min-height: 40px;
  box-sizing: content-box;
  margin-inline: 32px;
  margin-block: 40px;

  color: var(--delegation-header--text--color);
  --icon--fill-color: var(--delegation-header--text--color);
}

header.delegation > svg.icon--logo {
  grid-area: logo;
  justify-self: start;
}

header.delegation > .wallet-container {
  grid-area: wallet;
  justify-self: end;
}

header.delegation > .delegation-header-wrong-network-warning {
  grid-area: wrong;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 834px) {
  header.delegation {
    margin-inline: 20px;
    margin-block: 20px;

    grid-template-areas: 'logo wallet' 'wrong wrong';
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 320px) {
}
