@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: PPNeueMontrealRegular;
  src:
    local('PPNeueMontrealRegular'),
    url('./fonts/PPNeueMontreal-Regular.otf') format('opentype');
}

main.delegation-ui {
  font-family: 'IBM Plex Mono', monospace;
  min-width: 100vw;
  min-height: 100vh;
  width: fit-content;
  background: linear-gradient(
    180deg,
    var(--color--brown--0) 0%,
    var(--color--brown--1) 100%
  );
  color: var(--color--brown--text);
  overflow: hidden;
}

main.delegation-ui::before {
  content: '';
  display: block;
  padding-bottom: 1px;
}

.ibm-plex-mono-regular {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-style: normal;
}

.inter {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
