.delegation-ui-content {
  position: relative;
  /* min-width: 1190px; */
  width: fit-content;
  margin: 0 auto;
}

.delegation-ui-content::before {
  content: '';
  display: block;
  position: absolute;
  height: 826px;
  width: 666px;
  margin: 0 auto;
  top: 32px;
  z-index: 0;
  background: var(--color--brown--2);
  filter: blur(320px);
  left: 50%;
  opacity: 8%;
  transform: translateX(-50%);
}

.delegation-ui-content > * {
  position: relative;
  z-index: 1;
}

.delegation-ui-content h1 {
  color: var(--color--brown--4);
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  text-transform: uppercase;
}

.delegation-ui-content h2 {
  color: var(--color--brown--4);
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.delegation-ui-content h3 {
  color: var(--color--brown--4--alpha-40);
  font-size: 10px;
  text-transform: uppercase;
}

.delegation-ui-table-controls {
  margin-block-start: 32px;
  margin-block-end: 16px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}

.only-top-100-filter {
  display: inline-flex;
  text-transform: uppercase;
  gap: 8px;
  margin-inline: 16px;
  font-size: 12px;
}

.delegation-ui-table-controls > div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-node-container {
  position: relative;
  width: 242px;
  height: 32px;
  color: var(--color--brown--3);
  --icon--fill-color: var(--color--brown--3);
}

.search-node-container svg.icon {
  position: absolute;
  top: 4px;
  left: 8px;
  width: 14px;
  pointer-events: none;
  touch-action: none;
}

input.search-node {
  background:
    linear-gradient(
      270deg,
      var(--color--brown--0--alpha-60) 0%,
      var(--color--brown--1--alpha-60) 100%
    ),
    var(--color--brown--0);
  border-width: 1px;
  border-style: solid;
  border-color: var(--color--brown--3--alpha-24);
  border-radius: 6px;
  padding-block: 9px;
  padding-inline-start: 28px;
  padding-inline-end: 14px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  outline: none;
}

input.search-node::placeholder {
  color: var(--color--brown--3--alpha-60);
  text-transform: uppercase;
}
