@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

@font-face {
  font-family: PPNeueMontreal;
  src:
    local('PPNeueMontrealBook'),
    url('./fonts/PPNeueMontreal-Book.otf') format('opentype');
  font-weight: 200 400;
}

@font-face {
  font-family: PPNeueMontreal;
  src:
    local('PPNeueMontrealThin'),
    url('./fonts/PPNeueMontreal-Thin.otf') format('opentype');
  font-weight: 100 100;
}

@font-face {
  font-family: PPNeueMontreal;
  src:
    local('PPNeueMontrealRegular'),
    url('./fonts/PPNeueMontreal-Regular.otf') format('opentype');
  font-weight: 500 900;
}

main.delegation-ui {
  font-family: 'IBM Plex Mono', monospace;
  min-width: 100vw;
  min-height: 100vh;
  width: fit-content;
  background: linear-gradient(
    180deg,
    var(--color--brown--0) 0%,
    var(--color--brown--1) 100%
  );
  color: var(--color--brown--text);
  --icon--fill-color: var(--color--brown--text);
  overflow: hidden;
}

main.delegation-ui::before {
  content: '';
  display: block;
  padding-bottom: 1px;
}

.ibm-plex-mono-regular {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-style: normal;
}

:root {
  --icon--fill-color: var(--color--brown--text);
  --icon--stroke-color: transparent;
  --icon--transparent-color: transparent;
}
