.network-stats-grid {
  display: flex;
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 32px;
  margin: 8px 0;
}

.network-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color--brown--4);
  border-bottom: 1px solid var(--color--brown--4--alpha-32);
  white-space: nowrap;
  height: 56px;
  box-sizing: border-box;
}

.network-stat-value {
  display: flex;
  flex: 1 1;
  gap: 16px;
  font-size: 24px;
  line-height: 24px;
  font-family: PPNeueMontrealRegular, sans-serif;
  justify-content: space-between;
  align-items: center;
  letter-spacing: -2%;
}

.network-stats h1 {
  font-family: PPNeueMontrealRegular, sans-serif;
  font-size: 32px;
  line-height: 40px;
  text-transform: none;
}

.network-stats h2 {
  color: var(--color--brown--4);
  opacity: 72%;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0;
  margin: 0;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 834px) {
  .network-stats {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 16px;
    height: fit-content;
  }

  .network-stats-grid {
    padding-inline: 16px;
  }

  .network-stat-value {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .network-stats h1 {
    margin-inline: 16px;
  }
}

@media screen and (max-width: 320px) {
}
