.pending-exits {
  --collapsable-section--background-color: #eaeaea;
  --collapsable-section--foreground-color: #00000099;
  --collapsable-section--border-color: #00000014;
}

.pending-exits table.all-validators-table {
  --validator-node-table--border-color: #0000003d;
  --validator-node-table--gradient-color-start: transparent;
  --validator-node-table--gradient-color-middle: transparent;
  --validator-node-table--gradient-color-end: transparent;
  --validator-node-table--background--gradient-color-start: transparent;
  --validator-node-table--background--gradient-color-end: transparent;
  --validator-node-table--header--background-color: #ffffff99;
  --validator-node-table--cell--background-color: #ffffff;
  --validator-node-table--cell--foreground-color: #000000e0;
  --validator-node-table--header--foreground-color: #000000b8;
  --button-base--default--background-color: #00000066;
  --button-base--default--foreground-color: #ffffff;
  --button-base--default--border-color: 00000066;

  --button-base--default--border-width: 0;
  --button-base--default--background-color: #00000066;
  --button-base--default--foreground-color: var(--color--brown--0);
  --button-base--hovered--background-color: #000000aa;
  --button-base--hovered--foreground-color: var(--color--brown--0);
}
