.pending-exits {
  --collapsable-section--background-color: var(--color--undesign--white-1);
  --collapsable-section--foreground-color: var(
    --color--undesign--black--alpha-60
  );
  --collapsable-section--border-color: var(--color--undesign--black--alpha-08);

  --icon--fill-color: var(--color--undesign--black--alpha-60);
  --icon--stroke-color: var(--color--undesign--black--alpha-60);
}

.pending-exits table.all-validators-table {
  --validator-node-table--border-color: var(--color--undesign--black--alpha-24);
  --validator-node-table--gradient-color-start: transparent;
  --validator-node-table--gradient-color-middle: transparent;
  --validator-node-table--gradient-color-end: transparent;
  --validator-node-table--background--gradient-color-start: transparent;
  --validator-node-table--background--gradient-color-end: transparent;
  --validator-node-table--header--background-color: var(
    --color--brown--0--alpha-60
  );
  --validator-node-table--cell--background-color: var(--color--brown--0);
  --validator-node-table--cell--foreground-color: var(
    --color--undesign--black--alpha-88
  );
  --validator-node-table--header--foreground-color: var(
    --color--undesign--black--alpha-72
  );
  --button-base--default--background-color: var(
    --color--undesign--black--alpha-40
  );
  --button-base--default--foreground-color: var(--color--brown--0);
  --button-base--default--border-color: var(--color--undesign--black--alpha-40);

  --button-base--default--border-width: 0;
  --button-base--default--background-color: var(
    --color--undesign--black--alpha-40
  );
  --button-base--default--foreground-color: var(--color--brown--0);
  --button-base--hovered--background-color: var(
    --color--undesign--black--alpha-66
  );
  --button-base--hovered--foreground-color: var(--color--brown--0);
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 834px) {
  .pending-exits {
    margin-inline: 16px;
  }

  .pending-exits table.all-validators-table {
    margin-inline: 0;
  }

  .pending-exits table.all-validators-table tbody tr td:nth-child(9)::before {
    content: '';
  }

  .pending-exits table.all-validators-table tbody tr td:nth-child(9) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .pending-exits table.all-validators-table tbody tr td:nth-child(9) .bbtn {
    height: 100%;
  }
}

@media screen and (max-width: 320px) {
}
