.bchip.apy {
  color: var(--color--undesign--black--alpha-32);
  background: var(--color--undesign--black--alpha-16);
  border: 1px solid var(--color--undesign--black--alpha-24);

  background: #de9e67;
  border: 1px solid #b67237;
  color: #ffffff;
}
