.bchip {
  gap: 8px;
  border-radius: 4px;
  border-width: 1px;
  padding: 6px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  height: 20px;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
