:root {
  --bswitch--track-color: var(--color--brown--0);
  --bswitch--border-color: var(--color--brown--3);
  --bswitch--border-style: solid;
  --bswitch--border-width: 1px;
  --bswitch--border-radius: 100px;
  --bswitch--width: 36px;
  --bswitch--height: 20px;
  --bswitch--gutter-width: 2px;
  --bswitch--nib-color: var(--color--brown--4);
  --bswitch--transition-duration: 240ms;
  --bswitch--transition-easing: ease-in-out;
}

input[type='checkbox'].bswitch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: var(--bswitch--height);
  width: var(--bswitch--width);
  background: var(--bswitch--track-color);
  border-radius: var(--bswitch--border-radius);
  border-color: var(--bswitch--border-color);
  border-style: var(--bswitch--border-style);
  border-width: var(--bswitch--border-width);
  box-sizing: border-box;
  padding: var(--bswitch--gutter-width);
  appearance: none;
  opacity: 50%;
  transition: opacity var(--bswitch--transition-duration)
    var(--bswitch--transition-easing);
  will-change: opacity;
}

input[type='checkbox'].bswitch:checked {
  opacity: 100%;
}

input[type='checkbox'].bswitch::after {
  position: absolute;
  content: '';
  display: block;
  height: calc(
    var(--bswitch--height) - var(--bswitch--gutter-width) -
      var(--bswitch--gutter-width)
  );
  width: calc(
    var(--bswitch--height) - var(--bswitch--gutter-width) -
      var(--bswitch--gutter-width)
  );
  border-radius: 8px;
  background: var(--bswitch--nib-color);
  top: 1px;
  left: 1px;
  border: none;
  transform: translateX(0);
  transition:
    transform var(--bswitch--transition-duration)
      var(--bswitch--transition-easing),
    background-color var(--bswitch--transition-duration)
      var(--bswitch--transition-easing),
    width var(--bswitch--transition-duration) var(--bswitch--transition-easing),
    height var(--bswitch--transition-duration) var(--bswitch--transition-easing);
  will-change: transform, background-color, width, height;
}

input[type='checkbox'].bswitch:checked::after {
  transform: translateX(calc(var(--bswitch--width) - var(--bswitch--height)));
}
