.page-title > .sub-heading {
  color: var(--color--slate-500);
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inscription--section {
  grid-template-columns: 2fr 8fr;
}

.inscription--section > .value > .tabled-labeled-value {
  grid-template-columns: 2fr 8fr;
}
