:root {
  /* Slate Colors */
  --color--slate-950: #020617FF;
  --on-color--slate-950: var(--color--text-white);
  --color--slate-700: #334155FF;
  --on-color--slate-700: var(--color--text-white);
  --color--slate-500: #64748BFF;
  --on-color--slate-500: var(--color--text-white);
  --color--slate-300: #CBD5E1FF;
  --on-color--slate-300: var(--color--text-black);
  --color--slate-200: #E2E8F0FF;
  --on-color--slate-200: var(--color--text-black);
  --color--slate-100: #F1F5F9FF;
  --on-color--slate-100: var(--color--text-black);
  --color--slate-50: #F8FAFCFF;
  --on-color--slate-50: var(--color--text-black);

  --color--white: #FFFF;
  --on-color--white: var(--color--text-black);

  /* Green Colors */
  --color--green-800: #166534FF;
  --on-color--green-800: var(--color--text-white);
  --color--green-700: #15803DFF;
  --on-color--green-700: var(--color--text-white);
  --color--green-600: #16A34AFF;
  --on-color--green-600: var(--color--text-white);
  --color--green-100: #DCFCE7FF;
  --on-color--green-100: var(--color--text-black);
  --color--green-50: #F0FDF4FF;
  --on-color--green-50: var(--color--text-black);

  /* Amber Color */
  --color--amber-500: #F59E08FF;
  --on-color--amber-500: var(--color--text-black);
  --color--amber-300: #FCD34DFF;
  --on-color--amber-300: var(--color--text-black);
  --color--amber-50: #FFFBEBFF;
  --on-color--amber-50: var(--color--text-black);

  /* Red Colors */
  --color--red-600: #DC2626FF;
  --on-color--red-600: var(--color--text-white);
  --color--red-100: #FEE2E2FF;
  --on-color--red100: var(--color--text-black);

  /* Blue Colors */
  --color--sky-700: #0369A1FF;
  --on-color--sky-700: var(--color--text-white);
}